{% extends 'base.html.twig' %}

{% block title %}Biens index
{% endblock %}

{% block body %}
	<h1>Biens index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Description</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for bien in biens %}
				<tr>
					<td>{{ bien.id }}</td>
					<td>{{ bien.title }}</td>
					<td>{{ bien.description }}</td>
					<td>
						<a href="{{ path('biens_show', {'id': bien.id}) }}">show</a>
						<a href="{{ path('biens_edit', {'id': bien.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('biens_new') }}">Create new</a>
{% endblock %}
